html{
    font-family: 'Roboto', sans-serif;
}

section{
    width: 70vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.DivTitle{
    font-size: 200%;
    color: #FFF;
    font-weight: 600;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivHis{
    width: auto;
    height: 80%;
    background: linear-gradient(to right, #fbfafc, #c9bfdb);
}

.DivMsg{
    height:10%;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
}

textarea{
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    width: 70%;
}

.Send{
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: 700;
    position: relative;
    top: -0.5em;
    right: -1em;
    width: 20%;
    height: 5vh;
}

p{
    padding-top: 0.5em;
    height: 4vh;
    border-bottom: 0.1em solid #9d50bb;
}
p:hover{
    color: #FFF;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
}

.Delete, .Edit{
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    margin-right: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: 700;
    float: right;
}

